/* general */
* {
  /* border: solid teal 2px; */
  font-family: Helvetica;
  color: white;
}

body {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  background-color: #C76AF1;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.title-container > h1 {
  margin: 0;
  font-size: 400%;
}

.title-container > h2 {
  margin: 0;
  font-size: 200%;
  font-weight: lighter;
}

/* game select */
.game-select-container {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 460px;
}

.game-option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AB49DA;
  width: 300px;
  height: 200px;
}

.game-option:hover {
  background-color: white;
  width: 310px;
  height: 210px;
  transition: 200ms;
}

.game-option:hover > p {
  color: #AB49DA;
  transition: 200ms;
}

.game-name {
  margin: 10px;
  margin-top: 0;
  font-size: 140%;
}

.game-ruleset {
  margin: 2px;
}

/* weapon select */
.weapon-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-option, .display-option {
  border: purple 10px;
  border-radius: 10px;]
  margin: 20px;
  width: 200px;
  height: 200px;
}

.pick-option:hover {
  cursor: pointer;
  border: solid purple 10px;
  border-radius: 50px;
  width: 180px;
  height: 180px;
  transition: 280ms;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

.clicked {
  animation: grow-and-shrink 250ms;
}

/* outcome display */
.outcome-display {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

/* asides */
aside {
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  background-color: #CD82F0;
}

.aside-text {
  margin: 2px;
}

.change-game {
  margin-top: 70px;
  font-size: 60%;
  background: #AB49DA;
  border: 0;
  width: 160px;
  height: 70px;
}

.change-game:hover {
  color: #AB49DA;
  background: white;
  transition: 150ms;
  width: 170px;
  height: 75px;
}

/* hidden class */
.hidden {
  display: none;
}
